.login-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 500px;
  }
  
  .login-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #BD3F40;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #0D2E40;
  }
  
  .login-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-info p {
    margin: 0;
    font-size: 16px;
  }
  
  .login-info a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  .login-info a:hover {
    text-decoration: underline;
  }
  